<div class="container">
  <div class="big-container" style="gap: 20px;">
    <div class="small-container" style="gap: 20px;">
      <div class="create">
        <p class="title">Создать равное разделение</p>
        <p class="about">Подходит для поездки на такси</p>
        <a routerLink="/home/create/same"><button>Создать</button></a>
      </div>

      <div class="create">
        <p class="title">Создать неравное разделение</p>
        <p class="about">Подходит для похода в ресторан, в магазин</p>
        <a routerLink="/home/create/different"><button>Создать</button></a>
      </div>
    </div>

    <div class="create">
      <p class="title">Создать сложное разделение</p>
      <p class="about">При сложном разделении внутри можно будет добавить множество платежей, в которых будут участвовать некоторые пользователи </p>
      <p class="about">Подходит для долгих поездок на каникулы или сложных разделений</p>
      <a routerLink="/home/create/hard"><button>Создать</button></a>
    </div>
  </div>
</div>
